* {
  margin: 0;
  padding: 0;
  outline: 0;
}


.flex-container {

  display: flex;

  /* flex-direction: row;
  flex-wrap: nowrap; */
  flex-flow: row nowrap;

}

.flex-item {
  width: 100%;
}

.b .container {

  display: flex;

  flex-flow: row wrap;

  /* justify-content: space-evenly; */

  align-items: flex-start;

}

.b .item {
  padding: 10px;
  border: 1px solid #999;
  width: 23%;
  box-sizing: border-box;
  margin: 1%;
}
.item-1 { background: #007fa5; align-self: flex-end; }
.item-2 { background: #ff7f00 }
.item-3 { background: #557fa5 }
.item-4 { background: #ee7fa5 }


.a .container {
  display: flex;

  flex-flow: row nowrap;
}

.a .item {
  padding: 10px;
  border: 1px solid #999;
}